<div class="contact-details">
    {{!-- <Contact 
    src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Wheeldon_Apartment_Building_-_Portland_Oregon.jpg"
    {{@contact.image}}
    /> --}}
    <h3>{{@contact.name}}</h3>
    <p><span>Phone Number:</span> {{@contact.phoneNumber}} </p>
    <p><span>Email Address:</span> {{@contact.emailAddress}}</p>
    <p><span>Home Address:</span> {{@contact.homeAddress}}</p>
    <p><span>City:</span> {{@contact.city}}</p>
    <p><span>State:</span> {{@contact.state}}</p>
    <p><span>Zipcode:</span> {{@contact.zipcode}}</p>
</div>
