<div class="contact-details">
    <p>Name: {{contact.name}}</p>
    <p>Phone Number: {{contact.phoneNumber}} </p>
    <p>Email Address: {{contact.emailAddress}}</p>
    <p>Home Address: {{contact.homeAddress}}</p>
    <p>City: {{contact.city}}</p>
    <p>State: {{contact.state}}</p>
    <p>Zipcode: {{contact.zipcode}}</p>
</div>
